@charset "utf-8";
body {
  font-family: "Roboto", sans-serif;
}
@media screen {
  .print-only {
    display: none;
  }
}
@media (max-width: 768px) {
  #exp-nav {
    display: none;
  }
}
header {
  margin-top: 50px;
  .photo {
    border: 1px solid #ccc;
    padding: 5px;
    -moz-box-shadow: 5px 5px 3px #888;
    -webkit-box-shadow: 5px 5px 3px #888;
    box-shadow: 5px 5px 3px #888;
    transform:rotate(1deg);
    -ms-transform:rotate(1deg); /* IE 9 */
    -moz-transform:rotate(1deg); /* Firefox */
    -webkit-transform:rotate(1deg); /* Safari and Chrome */
    -o-transform:rotate(1deg); /* Opera */
  }
}
#content {
  line-height: 2em;
  padding: 15px 0;
}
.heading {
  p {
    font-weight: bold;
    font-size: 1.8em;
    color: #aaa;
  }
}
ul.skills{
  li {
    display: inline-block;
    margin: 5px;
    border: 1px solid #777;
    padding: 3px 5px;
    background-color: #ddd;
  }
}
#exp-nav.affix {
  top: 60px;
}
header {
  h1 {
    a {
      color: #333;
    }
    a:hover {
      text-decoration: none;
      color: #777;
    }
  }
  p {
    clear: both;
  }
}
.social_links {
  margin: 15px;
  li {
    display: inline;
    a {
      display: block;
      float: left;
      width: 32px;
      height: 32px;
      text-indent: -1000px;
    }
    a.github {
      background-image: url("../images/github_alt.png");
    }
    a.linked_in {
      background-image: url("../images/linkedin_alt.png");
    }
    a.twitter {
      background-image: url("../images/twitter_alt.png");
    }
    a.skype {
      background-image: url("../images/skype.png");
    }
  }
}
