/* line 2, all.scss */
body {
  font-family: "Roboto", sans-serif; }

@media screen {
  /* line 6, all.scss */
  .print-only {
    display: none; } }
/* line 10, all.scss */
header {
  margin-top: 50px; }
  /* line 12, all.scss */
  header .photo {
    border: 1px solid #cccccc;
    padding: 5px;
    -moz-box-shadow: 5px 5px 3px #888888;
    -webkit-box-shadow: 5px 5px 3px #888888;
    box-shadow: 5px 5px 3px #888888;
    transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    /* IE 9 */
    -moz-transform: rotate(1deg);
    /* Firefox */
    -webkit-transform: rotate(1deg);
    /* Safari and Chrome */
    -o-transform: rotate(1deg);
    /* Opera */ }

/* line 25, all.scss */
#content {
  line-height: 2em;
  padding: 15px 0; }

/* line 30, all.scss */
.heading p {
  font-weight: bold;
  font-size: 1.8em;
  color: #aaa; }

/* line 37, all.scss */
ul.skills li {
  display: inline-block;
  margin: 5px;
  border: 1px solid #777777;
  padding: 3px 5px;
  background-color: #ddd; }

/* line 45, all.scss */
#exp-nav.affix {
  top: 60px; }

/* line 50, all.scss */
header h1 a {
  color: #333; }
/* line 53, all.scss */
header h1 a:hover {
  text-decoration: none;
  color: #777; }
/* line 58, all.scss */
header p {
  clear: both; }

/* line 62, all.scss */
.social_links {
  margin: 15px; }
  /* line 64, all.scss */
  .social_links li {
    display: inline; }
    /* line 66, all.scss */
    .social_links li a {
      display: block;
      float: left;
      width: 32px;
      height: 32px;
      text-indent: -1000px; }
    /* line 73, all.scss */
    .social_links li a.github {
      background-image: url("../images/github_alt.png"); }
    /* line 76, all.scss */
    .social_links li a.linked_in {
      background-image: url("../images/linkedin_alt.png"); }
    /* line 79, all.scss */
    .social_links li a.twitter {
      background-image: url("../images/twitter_alt.png"); }
    /* line 82, all.scss */
    .social_links li a.skype {
      background-image: url("../images/skype.png"); }
