%h3.span7.org
  %a(href="http://www.bajajallianz.com" target="_blank") Bajaj Allianz General Insurance Co Ltd 
.span3
  .well
    IT Coordinator
    %br
    Mar 2002 to Jun 2003
.span10.details
  %ul
    %li Developed new modules in VB, ASP and MS Access to support in-house IT needs
    %li Developed a module to automate the process of Endorsements using VB and ASP
    %li Created CSV file parsers to read and populate the various "Registers" tables into the database using Java, JSP, JAXP, Struts 
    %li Created an Intranet Module to generate and maintain quotations for Householders Policy (An Insurance Product) using JSP/Struts

