.col-md-8.org
  %h3
    %a(href="http://www.vagmim.in" target="_blank") Independent Consultant
  %p 
.col-md-4
  .well
    Development, Training and Consulting
    %br
    Sep 2013 onwards
.col-md-12.details
  .project
    %h3 
      CTO Services for 
      %a(href="http://www.reducedata.com/") Reduce Data
    = skill_tags("Clojure", "EmberJS", "HBase", "Cassandra", "Kafka")
    %p As the CTO for ReduceData, I have been working on various aspects of both frontend and backend. I migrated
    the old Play 1.x based codebase onto Clojure and EmberJS. I setup a machine learning system to predict clicks
    of incoming impressions based on the parameters in the Bid Request using RandomForest and Logistic Regression.
  .project
    %h3 Architectural Consulting for CA Inc
    = skill_tags("Cassandra")
    %p As a part of the engagement with ReduceData, I also helped CA build its one of its analytics dashboard products.
    I was heavily involved with the data modelling aspects with Cassandra and built PoCs to demonstrate key features.
  .project
    %h3 Workshops
    = skill_tags("Javascript","Backbone.js","Cucumber/TDD","Ruby","Chef","Knockout.js","React.JS","Clojure")
    %p I have conducted several corporate workshops and training sessions on the technologies listed above. 
