%h3.span7.org
  %a(href="http://www.reducedata.com" target="_blank") Reduce Data Inc.
.span3
  .well
    CTO
    %br
    Sep 2013 onwards
.span10.details
  %p As the CTO, I am responsible for all the technical decisions made in the company
  .project
    %h3
      Self Service Platform
    = skill_tags("Clojure", "EmberJS", "HBase", "Cassandra", "Kafka")
    %p The self service platform or the actual app that the advertisers/agencies interact with is built with EmberJS on the front end backed by nginx and a clojure app on http-kit. It uses cassandra for a the metadata related to campaigns and various creatives while using HBase for storing transactional data and reporting key figures using counters.
