.col-md-8.org
  %h3
    %a(href="http://www.tarkalabs.com" target="_blank") Tarka Labs (A division of Sedin Technologies)
  %p 
.col-md-4
  .well
    CTO
    %br
    Jun 2014 onwards
.col-md-12.details
  .project
    %p
      As the CTO of TarkaLabs, I engage with clients in technology consulting and building a team of brilliant engineers. I also oversee development practices and help choose and build tools that are most appropriate to the business problem at hand. I also do a bit of public speaking and workshops on technologies such as Javascript and Clojure.
