%p I have been conducting various training programs, workshops and public speaking.

.project
  =skill_tags("Ruby", "Chef", "Javascript", "Cucumber/BDD", "Backbone.js", "React.js", "Angular.js", "Git", "Clojure", "Haskell", "Elm", "Purescript")

%p Here are some of the recordings of public conferences that I have done.

.project
  %h3 Building single page apps with React.js (JSFoo 2014)
  .screen-only
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-v9MehRHsNE" frameborder="0" allowfullscreen></iframe>
  .print-only
    You can view this workshop online on <a href="https://www.youtube.com/watch?v=-v9MehRHsNE">Youtube</a>


.project
  %h3 Clojurescript and Om - Pragmatic functional programming in the Javascript Land by Vagmi Mudumbai (Functional Conf 2014)
  .screen-only
    <iframe width="420" height="315" src="https://www.youtube.com/embed/NBgYLPA0qO4" frameborder="0" allowfullscreen></iframe>
  .print-only
    You can view this talk online on <a href="https://www.youtube.com/watch?v=NBgYLPA0qO4">Youtube</a>

.project
  %h3 Functional Reactive Programming with Elm (jQuery Conf 2015)
  .screen-only
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LOJS4weW5u4" frameborder="0" allowfullscreen></iframe>
  .print-only
    You can view this talk online on <a href="https://www.youtube.com/watch?v=LOJS4weW5u4">Youtube</a>

.project
  %h3 A lively discussion about the future of frameworks in Javascript (jQuery Conf 2014)
  .screen-only
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tSGpW5vHZ6g" frameborder="0" allowfullscreen></iframe>
  .print-only
    You can view this discussion online on <a href="https://www.youtube.com/watch?v=tSGpW5vHZ6g">Youtube</a>


.project
  %h3 Pure functional programming on the browser for PureScript (Functional Conf 2015)
  .screen-only
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fb44xcwHx0U" frameborder="0" allowfullscreen></iframe>
  .print-only
    You can view this talk online on <a href="https://www.youtube.com/watch?v=fb44xcwHx0U">Youtube</a>
