%p I have been conducting various training programs, workshops and public speaking. Here are some of the recordings of public conferences that I have done.

.project
  %h3 Building single page apps with React.js (JSFoo 2014)
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-v9MehRHsNE" frameborder="0" allowfullscreen></iframe>

.project
  %h3 Clojurescript and Om - Pragmatic functional programming in the Javascript Land by Vagmi Mudumbai (Functional Conf 2014)
  <iframe width="420" height="315" src="https://www.youtube.com/embed/NBgYLPA0qO4" frameborder="0" allowfullscreen></iframe>

.project
  %h3 Functional Reactive Programming with Elm
  <iframe width="560" height="315" src="https://www.youtube.com/embed/LOJS4weW5u4" frameborder="0" allowfullscreen></iframe>
