%header.container#about
  .row
    .col-md-3
      %ul.social_links
        %li
          %a.fa.fa-github{:href => "http://github.com/vagmi"}
        %li
          %a.fa.fa-linkedin{:href => "http://linkedin.com/in/vagmi"}
        %li
          %a.fa.fa-twitter{:href => "http://twitter.com/vagmi"}
        %li
          %a.fa.fa-rss{:href => "https://blog.tarkalabs.com/author/vagmi/"}
        %li
          %a.fa.fa-envelope{:href => "mailto:me@vagmim.in"}
        %li
          %a.fa.fa-skype{:href => "skype:vagmi.mudumbai"}
    .col-md-6
      %p.photo-container
        %img.photo{:alt => "Vagmi Mudumbai", :src => "images/headshot.png", :width=>"150px", :height=>"150px"}/
        %br
        Dad, Entrepreneur, Software Craftsman
    .col-md-3
      .well
        %ul.overview
          %li 14 years of experience
          %li A software generalist and a craftsman
          %li A continuous learner
          %li Entrepreneurial Attitude
#content.container
  .row
    .col-md-12
      %p.print-only This content was printed from <a href="http://vagmi.github.io/resume">http://vagmi.github.io/resume</a>. Please visit that site for a better formatted version.
  .row
    %section#objective
      .col-md-2.heading
        %h3 Objective
      .col-md-10
        I am looking to work with an organization that values the craft of software development and provides the right kind
        of environment and the freedom to build great software. I am very passionate about open source and would
        like to work with an organization that not only uses open source software but creates or contributes to the ecosystem.
  .row
    %section#skills
      .col-md-2.heading 
        %h3 Skills
      .col-md-10
        %ul.skills
          %li iOS
          %li Swift
          %li Android
          %li Clojure
          %li Ruby
          %li Java
          %li HTML5
          %li CSS3
          %li Javascript
          %li JQuery
          %li Backbone.js
          %li React.js
          %li Rails
          %li PostgreSQL
          %li RabbitMQ
          %li Neo4j
          %li Cassandra
          %li HBase

  .row
    %section#trainings
      .col-md-2.heading
        %h3 Trainings
      .col-md-10= partial "trainings"
  .row
    %section#opensource
      .col-md-2.heading
        %h3 Open Source
      .col-md-10= partial "opensource"
  .row
    %section#experience
      .col-md-2.heading
        %h3 Experience
      .col-md-10
        %p This section chronicles my journey towards becoming a "full stack developer". Over the course of the past 12 years, I have been working with various technologies ranging from VB, C#, Java, Python, Ruby and Clojure with a variety of frameworks, databases and tools. 
        - %w(tarkalabs independent thoughtworks dharana sap slash bajaj).each do |company|
          %section.org-section
            =partial "company", locals: {company: company}
  .row
    %section#testimonials
      .col-md-2.heading 
        %h3 Testimonials
      .col-md-10= partial "testimonials"
  .row
    %section#education
      .col-md-2.heading 
        %h3 Education
      .col-md-10= partial "education"
