.navbar.navbar-inverse.navbar-fixed-top#main-nav
  .navbar-inner
    .container
      %ul.nav
        %li
          %a(href="#about") About Me
        %li
          %a(href="#opensource") Open Source
        %li
          %a(href="#experience") Experience
        %li
          %a(href="#testimonials") Testimonials
        %li
          %a(href="#education") Education
%header.container
  .row
    .span2
      %img.photo{:alt => "Vagmi Mudumbai", :src => "http://www.gravatar.com/avatar/76c5ea6a17750fdf3f65da5832a1f37c.png?s=150"}/
    .span10
      %h1 Vagmi Mudumbai
      %ul.social_links
        %li
          %a.github{:href => "http://github.com/vagmi"} Github
        %li
          %a.linked_in{:href => "http://linkedin.com/in/vagmi"} LinkedIn
        %li
          %a.twitter{:href => "http://twitter.com/vagmi"} Twitter
      %p Hacker, Entrepreneur, Dad
#content.container
  .row
    %p.span2.heading About Me
    %p#about.span6
      To work for an organization that values the craft of software development and provides the right kind
      of environment and the freedom to build great software. I am very passionate about the open source and would
      like to join an organization that not only uses open source software but creates or contributes to the ecosystem.
    .span4
      .well
        %ul
          %li 10+ years of experience
          %li A software generalist and a craftsman
          %li A continuous learner
          %li Entrepreneurial Attitude
  .row
    %p.span2.heading Skills
    .span10
      %ul.skills
        %li Ruby
        %li Rails
        %li Sinatra
        %li Clojure
        %li HTML5
        %li CSS3
        %li Javascript
        %li Coffeescript
        %li JQuery
        %li Backbone.js
        %li PostgreSQL
        %li Neo4j
        %li MongoDB
        %li Cucumber
        %li Java

  .row
    %p.span2.heading Open Source
    .span10#opensource= partial "opensource"
  .row
    .span2.heading 
      %p Experience
      %ul#exp-nav.nav.nav-list
        %li
          %a(href="#thoughtworks") Thoughtworks
        %li
          %a(href="#dharana") Dharana &amp; Artha42
        %li
          %a(href="#sap") SAP Labs
        %li
          %a(href="#slash") SlashSupport
        %li
          %a(href="#bajaj") Bajaj Allianz
    
    .span10#experience
      - %w(thoughtworks dharana sap slash bajaj).each do |company|
        .row
          =partial "company", locals: {company: company}
  .row
    %p.span2.heading Testimonials
    .span10#testimonials= partial "testimonials"
  .row
    %p.span2.heading Education
    .span10#education= partial "education"
